{% extends 'base.html' %}
{% block h1 %}案件一覧{% endblock %}

{% block content %}
  <body>
    <div class="container">
      <div class="container-fluid p-0">
      <h1 class="h3 mb-3"><a href="{% url 'land-create' %}">新規申請</a></h1>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="card-actions float-right">
              </div>
              <h5 class="card-title mb-0">Clients</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped" style="width:100%">
                <thead>
                  <tr>
                    <th>申請日</th>
                    <th>プロジェクト名</th>
                    <th>住所</th>
                    <th>仕入金額</th>
                    <th>状況</th>
                    {% if request.user.is_manager %}
                    <th>レビュー</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for item in object_list %}
                  <tr>
                    <td>{{item.applied_date}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.purchase_price}}</td>
                    <td><span class="badge bg-success">{{item.get_status_display}}</span></td>
                    {% if request.user.is_manager %}
                    <td><a href="{% url 'land-review' item.pk %}">レビューする</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>  
    </div>
  </div>
  </body>
{% endblock content %}